# ignorar archivos de datos
data

# ignorar archivos de sistema ios
.DS_Store

# ignorar archivos de configuración de vscode e intellij idea
.vscode
.idea
# wms.iml es el archivo de proyecto de intellij idea
wms.iml
# out es el directorio de salida del compilador
out

# ignorar archivos compilados
bin/
*.class